---
import { anim } from '../scripts/animated-tex';
import Katex from '../components/Katex.astro';
import ModuleOverview from '../components/ModuleOverview.astro';
import Comment from '../components/syntax/Comment.astro';
import GlossaryPage from '../layouts/GlossaryPage.astro';
import { glossary } from '../scripts/glossary';
---

<GlossaryPage title='Glossary'>
	<h1><Comment>Glossary</Comment></h1>
	{Object.keys(glossary).map((mod: string) => <ModuleOverview mod={mod}/>)}
	<Katex tex={`{\\color{deepskyblue}{f}} ({\\color{lightgreen}{${anim('x', 'y', 'z')}}}) = 2{\\color{tomato}{${anim('x', 'y', 'z', 'w')}}}`}/>
	<br/>
</GlossaryPage>
