---
interface Props {
    depth: number;
    style?: string;
    id?: string;
}

const { depth, style, id } = Astro.props;
---

{() => {
    switch (depth) {
        case 1:  return <h1  style={style} id={id}><slot/></h1>;
        case 2:  return <h2  style={style} id={id}><slot/></h2>;
        case 3:  return <h3  style={style} id={id}><slot/></h3>;
        case 4:  return <h4  style={style} id={id}><slot/></h4>;
        case 5:  return <h5  style={style} id={id}><slot/></h5>;
        case 6:  return <h6  style={style} id={id}><slot/></h6>;
        default: return <div style={style} id={id}><slot/></div>;
    }
}}
