---
import { type GlossaryEntry, type Kind } from '../scripts/glossary';
import LilRef from './LilRef.astro';
import RefPath from './RefPath.astro';
import Tooltip from './Tooltip.astro';

export interface Props {
    item: GlossaryEntry;
    overrideKind?: Kind;
}

const { item, overrideKind = item.data.kind } = Astro.props;
if (item === undefined) throw new Error(`Cannot reference undefined`);
const defaultName = item.slug.split('/').at(-1);
---

<Tooltip>
    <LilRef item={item} overrideKind={overrideKind}><slot>{defaultName}</slot></LilRef>
    <Fragment slot="content">
        <RefPath item={item}/>
        <p>{item.data.brief}</p>
    </Fragment>
</Tooltip>
