---
import { type GlossaryItem, type RefKey, findReference, getItemHref } from '../scripts/glossary';
import RefPath from './RefPath.astro';

interface Props {
    key: RefKey;
}

const { key } = Astro.props;

/** Data about the item we are referencing */
const item: GlossaryItem = findReference(key);
---

<div class="tooltip">
    <a href={getItemHref(item)} class={item.kind}>{key.term}</a>
    <span class="tooltiptext">
        <RefPath key={key}/><br/><br/>
        {item.brief}
    </span>
</div>
