---
import { type GlossaryEntry, type Kind } from '../scripts/glossary';
import LilRef from './LilRef.astro';
import RefPath from './RefPath.astro';
import Tooltip from './Tooltip.astro';

export interface Props {
    item: GlossaryEntry;
    overrideKind?: Kind;
    /** If true: treats slug as id rather than path */
    onPage?: true;
    alias?: true;
}

const { item, overrideKind = item.data.kind, onPage, alias } = Astro.props;
if (item === undefined) throw new Error(`Cannot reference undefined`);
const defaultName = item.slug.split('/').at(-1);
---

<Tooltip>
    <LilRef item={item} overrideKind={overrideKind} onPage={onPage}><slot>{defaultName}</slot></LilRef>
    <Fragment slot="content">
        {alias && <span class="keyword">alias of </span>}<RefPath item={item} onPage={onPage}/>
        <p>{item.data.brief}</p>
    </Fragment>
</Tooltip>
