---
import type { RefKey } from '../scripts/glossary'
import Module from './syntax/Module.astro';
import { getItemHref, findReference, getItemDefaultAlias, getItemPath } from '../scripts/glossary';

interface Props {
    key: RefKey;
}

const { key } = Astro.props;
const parentItem = key.propertyOf ? findReference({ module: key.module, term: key.propertyOf }) : undefined;
const item = findReference(key);
---

<Module tkn={key.module}/>::{
    parentItem && <><a class={parentItem.kind} href={getItemHref(parentItem)}>{parentItem}</a>#</>
}<a class={item.kind} href={getItemHref(item)}>{getItemDefaultAlias(item)}</a>
